@font-face {
    font-family: 'Hans Kendrick';
    src: url(./HansKendrick.otf);
}
.main-wrapper {
    background-color: #e2e7ec;
    padding: 0px 240px 100px 240px;
}
.flex-container {
    padding: 0;
    margin: auto;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
}
.flex-item {
    height: 377px;
    width: 30%;
    box-sizing: border-box;
    margin-top: 20px;
    list-style: none;
    background-color: #fff;
}

.content-header, .content-date {
    font-family: 'Hans Kendrick';
    text-transform: uppercase;
}
.content-date {
    font-size: 12px;
    color: #818181;
}

.content-header {
    font-size: 15px;
    line-height: 20px;
    color: #1d1d1d;
}
.car {
    width: 62.5%;
    padding: 30px;
    background-image: url(./images/fleximg.jpg);
    background-size: cover;
    background-position: center;
    transition: ease-in-out 0.2s;
}
.banner-content {
    margin-top: 240px;
}
.car .content-header {
    width: 80%;
    font-weight: 500;
    line-height: 25px;
    margin-top: 20px;
    font-size: 25px;
    color: #fff;
}
.car .content-date {
    color: #fff;
}
.item-banner {
    background-size: cover;
    background-position: center;
    margin: 0;
    height: 45%;
    transition: ease-in-out 0.2s;
}
.item-content {
    margin: 0;
    padding: 20px;
}
.hide {
    opacity: 0;
}
.content-author {
    margin-top: 30px;
}
.item-banner.glasses {
    background-image: url(./images/Layer\ 2.jpg);
}

.item-banner.girls {
    background-image: url(./images/Layer\ 5.jpg);
}
.item-banner.shoes {
    background-image: url(./images/Layer\ 7.jpg);
}

.item-banner.landscape {
    background-image: url(./images/Layer\ 9.jpg);
}
.loading-wrapper {
    display: flex;
    align-content: center;
    justify-content: center;
    align-items: center;
    opacity: .5;
    margin-top: 70px;
}
.loading {
    font-size: 12px;
    line-height: 12px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: normal;
    text-transform: uppercase;
    margin-left: 10px;
}
.loading-wrapper img {
    width: 20px;
    height: 20px;
}
.flex-item:hover .item-banner, .car:hover {
    background-color: rgba(0,0,0,0.3);
    background-blend-mode: darken;
}






